<section hlmCard class="w-full dark max-w-2xl mx-auto p-4 flex flex-col">
  <!-- Encabezado del formulario -->
  <div hlmCardHeader class="flex-shrink-0">
    <h2 hlmCardTitle>{{ isEditMode ? 'Editar' : 'Crear' }} Menú</h2>
    <p hlmCardDescription>
      Completa los detalles del menú y las comidas para guardarlo.
    </p>
  </div>

  <!-- Contenedor scrollable para el contenido del formulario -->
  <div class="flex-grow overflow-y-auto">
    <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
      <p hlmCardContent class="pb-0">
        <!-- Campo de Nombre -->
        <label class="block my-4" hlmLabel>
          Nombre
          <input class="mt-1.5 w-full" id="name" formControlName="name" hlmInput required
            placeholder="Ingrese el nombre del menú" />
          @if (menuForm.get('name')?.invalid && menuForm.get('name')?.touched) {
          <small>El nombre es obligatorio.</small>
          }
        </label>

        <!-- Campo de Precio del Menú -->
        <label class="block my-4" hlmLabel>
          Precio
          <input class="mt-1.5 w-full" id="price" formControlName="price" hlmInput type="number" required
            placeholder="Ingrese el precio del menú" min="0" />
          @if (menuForm.get('price')?.invalid && menuForm.get('price')?.touched) {
          <small>El precio es obligatorio.</small>
          }
        </label>

        <!-- Campo de Imagen -->
        <label class="block my-4" hlmLabel>
          Imagen
          <textarea class="mt-1.5 w-full" id="picture" formControlName="picture" hlmInput
            placeholder="Ingrese la imagen"></textarea>
        </label>
      </p>

      <h3 class="text-lg font-semibold mb-2">Comidas</h3>
      <div class="space-y-4">



        <div hlmCard class="p-4">
          <label class="block my-4" hlmLabel>
            Seleccionar "Entrada"
            <select class="mt-1.5 w-full text-black bg-white dark:text-white dark:bg-gray-800" formControlName="entrada"
              hlmInput required>
              @for (food of foodsByType["ENTRADA"]; track food.id) {
              <option [value]="food.id">{{food.name}}</option>
              }
              <option value="0">Ninguna</option>
            </select>
            @if (menuForm.get('entrada')?.invalid && menuForm.get('entrada')?.touched) {
            <small>
              Seleccionar al menos una comida.
            </small>
            }
          </label>
          <label class="block my-4" hlmLabel>
            Seleccionar "Plato principal"
            <select class="mt-1.5 w-full text-black bg-white dark:text-white dark:bg-gray-800"
              formControlName="platoPrincipal" hlmInput required>
              @for (food of foodsByType["PLATO PRINCIPAL"]; track food.id) {
              <option [value]="food.id">{{food.name}}</option>
              }
              <option value="0">Ninguna</option>
            </select>
            @if (menuForm.get('platoPrincipal')?.invalid && menuForm.get('platoPrincipal')?.touched) {
            <small>
              Seleccionar al menos una comida.
            </small>
            }
          </label>
          <label class="block my-4" hlmLabel>
            Seleccionar "Bebida"
            <select class="mt-1.5 w-full text-black bg-white dark:text-white dark:bg-gray-800" formControlName="bebida"
              hlmInput required>
              @for (food of foodsByType["BEBIDA"]; track food.id) {
              <option [value]="food.id">{{food.name}}</option>
              }
              <option value="0">Ninguna</option>
            </select>
            @if (menuForm.get('bebida')?.invalid && menuForm.get('bebida')?.touched) {
            <small>
              Seleccionar al menos una comida.
            </small>
            }
          </label>
          <label class="block my-4" hlmLabel>
            Seleccionar "Postre"
            <select class="mt-1.5 w-full text-black bg-white dark:text-white dark:bg-gray-800" formControlName="postre"
              hlmInput required>
              @for (food of foodsByType["POSTRE"]; track food.id) {
              <option [value]="food.id">{{food.name}}</option>
              }
              <option value="0">Ninguna</option>
            </select>
            @if (menuForm.get('postre')?.invalid && menuForm.get('postre')?.touched) {
            <small>
              Seleccionar al menos una comida.
            </small>
            }
          </label>

        </div>

      </div>

      <!-- Botón para agregar comida -->
      <!--  <div class="mt-4">
        <button type="button" hlmBtn variant="outline" (click)="addFood()">Agregar Comida</button>
      </div> -->
      <!-- Botones de pie de página -->
      <div hlmCardFooter class="flex-shrink-0 flex justify-between mt-4">
        <button type="button" hlmBtn variant="secondary" (click)="onCancel()">Cancelar</button>
        <button type="submit" hlmBtn [disabled]="!menuForm.valid">
          Guardar Menú
        </button>
      </div>
    </form>
  </div>


</section>